.nbgrader.log
.ipynb_checkpoints
_minted*org
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
content/*/*.tex
*.toc
*.pdf
content/*/*.ipynb
*.texbak
playbook.retry
content/toc
output
*.retry
build/log
testplay.yaml
content/*/_minted-ch*
content/ch3-variables/figures/abHallo.png
content/ch3-variables/figures/namesLabels.png
content/ch3-variables/figures/TwoNamesLabels.png
content/ch3-variables/figures/wrongLabels.png
*.synctex.gz
content/tmp
*.loe
*.lof
content/*/uml/*png

content/ch11-funct3/figures/pt-closure-h.png
content/ch11-funct3/figures/pt-closure2-1.png
content/ch11-funct3/figures/pt-closure2-2.png
content/ch11-funct3/figures/pt-nested1-1.png
content/ch11-funct3/figures/pt-nested1-2.png
content/ch11-funct3/figures/pt-nested1-3.png
content/ch11-funct3/figures/pt-nonlocal.png
content/ch11-funct3/figures/pt-two-closures.png
content/book/_minted-book
graphicspath
chapters
content/ch8-classes/figures/binary-tree-insert.png
content/ch8-classes/figures/binary-tree.png
content/ch8-classes/figures/ellipse.png
content/ch9-oo/figures/artikel-tree.png
content/ch9-oo/figures/linne-tree.png
content/ch9-oo/figures/personen-tree.png
content/ch9-oo/figures/venn.png
content/ch16-java-basics/ForIterator.class
content/ch16-java-basics/ForIterator.java
content/ch16-java-basics/HelloWorld.class
content/ch16-java-basics/HelloWorld.java
type-hierachy.png
sketches/_minted-workflow
sketches/_minted-workflow/default-pyg-prefix.pygstyle
sketches/_minted-workflow/default.pygstyle
sketches/huml.png
sketches/puml.png
sketches/workflow.pyg
sketches/workflow.tex
content/ch16-java-basics/ForVariable.class
content/ch16-java-basics/ForVariable.java
content/ch17-java-oo/CallSemantics.class
content/ch17-java-oo/CallSemantics.java
content/ch*/*.java
content/ch*/*.java.exp
content/ch*/*.java.exp.out
content/ch*/*.class


uebungen/pue/pue*/*.html
uebungen/pue/pue*/*.pdf
uebungen/hue/hue*/*.html
uebungen/hue/hue*/*.pdf
/content/remainingslides
/content/slidetitles.tmp
/content/slidetitles2.tmp
tmp
nbgrader/gp1local
grades/__pycache__
grades/fg-beispiel.yaml
grades/formgrade.yaml
grades/grades.tex
grades/grades.xlsx
