.nbgrader.log
.ipynb_checkpoints
_minted*org
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
content/*/*.tex
*.toc
*.pdf
*.ipynb
playbook.retry
content/toc
output
*.retry
build/log
testplay.yaml
content/*/_minted-ch*
content/ch3-variables/figures/abHallo.png
content/ch3-variables/figures/namesLabels.png
content/ch3-variables/figures/TwoNamesLabels.png
content/ch3-variables/figures/wrongLabels.png
*.synctex.gz
content/tmp
*.loe
*.lof
content/*/uml/*png
